*.err
*.out
retrieval/outputs
retrieval/__pycache__/
retrieval/outputs_old
retrieval/pretrained_models/audio_encoder/
retrieval/models/__pycache__/
retrieval/data_handling/__pycache__/
retrieval/tools/__pycache__/
pretrained_models/
.vscode/
retrieval/*.txt
retrieval/wandb/
*.npy
logs/
embeds/
retrieval/*.pt
retrieval/*.json
